@import "tailwindcss";

@theme {
  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);
  --color-text-strong: var(--text-strong);
  --color-text-weak: var(--text-weak);
  --color-primary: var(--primary);
}

:root {
  --bg-1: #ffffff;
  --bg-2: #fcf8ff;
  --text-strong: #191921;
  --text-weak: #a9a6b4;
  --primary: #4134d8;
}

html.dark {
  --bg-1: #000;
  --bg-2: #1b1b24;
  --text-strong: #f3effc;
  --text-weak: #a9a7b9;
  --primary: #4f46e5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-1);
  transition: all 0.5s ease ;
}
html {
  /* color-scheme: light dark; */
}

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
